@page
@model TaxLab.B2C.TestClient.Views.Home.json

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <pre>
        @ViewBag.Json
    </pre>
</div>
</body>
</html>